{%extends "base.html"%}
{% block title %} CineList || {{block.super}}{% endblock %}

{%block content%}
<h2>Watched</h2>

{%  for obj in object_list %}
	<div class="cinecard">
		<!-- TODO SKELETON LOAD -->
  	  	<h3><a href='{{ obj.get_absolute_url}}'>{{obj}}</a> <a class="editlink" href='{% url "cinema:edit" obj.id %}'><span class="glyphicon glyphicon-pencil" style="float: right;top:5px;right: 10px;"></span></a></h3>
	  	<div class="cinedetails1">
		  	<p class="text-info"><i>Metascore: </i>{{obj.metascore}}</p>
			<h4>{{obj.year}}</h4>
			<p class="text-muted">{{obj.category}}</p>
			<br>
			{% if obj.verify %}
				<a href="{% url 'cinema:verify' slug=obj.verify %}">
			  		<p class='text-success'><span class="glyphicon glyphicon-ok"></span> Details Confirmed</p>
			  	</a>
			{% else %}
		  		<p class='text-danger'><span class="glyphicon glyphicon-warning-sign"></span> Data Anomaly</p>
			{% endif %}
		</div>
	  	<div class="cinedetails2">
		  	<p class="text-info"><i>Tomato-meter: </i>{{obj.meter}}</p>
			<p>Director(s): {{obj.director}}</p>
		  	<p>Cast: {{obj.cast}}</p>
	  	</div>
  	</div>

{%endfor%}
{% include 'snippets/svg_line.html'%}
{%endblock content%}
<br><hr><br>
