{%extends "base.html"%}
{% block title %} CONTACT || {% endblock %}
{%block content%}
<h1><a href="mailto:chaw_restaurant@gmail.com"><span class="high2">Email Me @ </span></a></h1>

<div class="high_d">
<h5><b>Email Address</b>: <span class="high">chaw_restaurantm@gmail.com</span></h5>
<h5><b>Restaurant Address</b> <span class="high">Chaw Restaurant, Jhargram 721507</span></h5>
<h5><b>Phone Number</b>:  <span class="high">+919832107654</span></h5>
<br>&nbsp;<br>&nbsp;
</div>
<p>

</p>
{%endblock content%}
